In [9]:
import findspark
findspark.init()

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("Test Spark").getOrCreate()

sc = spark.sparkContext

In [13]:
spark

In [25]:
## read the dataframe

In [46]:
indianMF_df = spark.read.csv("dataset/indian_mutual_funds_dataset.csv")

In [47]:
indianMF_df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string]

In [48]:
#spark.read.option('header','true').csv('dataset/indian_mutual_funds_dataset.csv').show()

#### if we didn't add inferschema, by default it will take dataset as string value, and if we use inferschema it will show the interger value as interger

In [50]:
indianMF_df = spark.read.option('header','true').csv('dataset/indian_mutual_funds_dataset.csv', inferSchema=True)

In [51]:
type(indianMF_df)

pyspark.sql.dataframe.DataFrame

In [52]:
indianMF_df

DataFrame[scheme_name: string, min_sip: int, min_lumpsum: int, expense_ratio: double, fund_size_cr: double, fund_age_yr: int, fund_manager: string, sortino: string, alpha: string, sd: string, beta: string, sharpe: string, risk_level: int, amc_name: string, rating: int, category: string, sub_category: string, returns_1yr: double, returns_3yr: double, returns_5yr: double]

In [53]:
indianMF_df.head(2)

[Row(scheme_name='Aditya Birla SL Active Debt Multi-Mgr FoF-Dir Growth', min_sip=100, min_lumpsum=100, expense_ratio=0.27, fund_size_cr=10.0, fund_age_yr=10, fund_manager='Kaustubh Gupta', sortino='0.32', alpha='2.24', sd='9.39', beta='0.01', sharpe='0.24', risk_level=3, amc_name='Aditya Birla Sun Life Mutual Fund', rating=3, category='Other', sub_category='FoFs Domestic', returns_1yr=4.0, returns_3yr=6.5, returns_5yr=6.9),
 Row(scheme_name='Aditya Birla SL Arbitrage Fund', min_sip=1000, min_lumpsum=1000, expense_ratio=0.36, fund_size_cr=4288.0, fund_age_yr=10, fund_manager='Lovelish Solanki', sortino='1.33', alpha='1.53', sd='0.72', beta='0.56', sharpe='1.1', risk_level=1, amc_name='Aditya Birla Sun Life Mutual Fund', rating=3, category='Hybrid', sub_category='Arbitrage Mutual Funds', returns_1yr=5.6, returns_3yr=4.8, returns_5yr=5.5)]

In [54]:
indianMF_df.printSchema()

root
 |-- scheme_name: string (nullable = true)
 |-- min_sip: integer (nullable = true)
 |-- min_lumpsum: integer (nullable = true)
 |-- expense_ratio: double (nullable = true)
 |-- fund_size_cr: double (nullable = true)
 |-- fund_age_yr: integer (nullable = true)
 |-- fund_manager: string (nullable = true)
 |-- sortino: string (nullable = true)
 |-- alpha: string (nullable = true)
 |-- sd: string (nullable = true)
 |-- beta: string (nullable = true)
 |-- sharpe: string (nullable = true)
 |-- risk_level: integer (nullable = true)
 |-- amc_name: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- sub_category: string (nullable = true)
 |-- returns_1yr: double (nullable = true)
 |-- returns_3yr: double (nullable = true)
 |-- returns_5yr: double (nullable = true)

### second way to read the csv file and inferschema

In [58]:
indianMF_df = spark.read.csv("dataset/indian_mutual_funds_dataset.csv", header= True, inferSchema= True)

In [59]:
indianMF_df.printSchema()

root
 |-- scheme_name: string (nullable = true)
 |-- min_sip: integer (nullable = true)
 |-- min_lumpsum: integer (nullable = true)
 |-- expense_ratio: double (nullable = true)
 |-- fund_size_cr: double (nullable = true)
 |-- fund_age_yr: integer (nullable = true)
 |-- fund_manager: string (nullable = true)
 |-- sortino: string (nullable = true)
 |-- alpha: string (nullable = true)
 |-- sd: string (nullable = true)
 |-- beta: string (nullable = true)
 |-- sharpe: string (nullable = true)
 |-- risk_level: integer (nullable = true)
 |-- amc_name: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- category: string (nullable = true)
 |-- sub_category: string (nullable = true)
 |-- returns_1yr: double (nullable = true)
 |-- returns_3yr: double (nullable = true)
 |-- returns_5yr: double (nullable = true)

In [61]:
indianMF_df.columns

['scheme_name',
 'min_sip',
 'min_lumpsum',
 'expense_ratio',
 'fund_size_cr',
 'fund_age_yr',
 'fund_manager',
 'sortino',
 'alpha',
 'sd',
 'beta',
 'sharpe',
 'risk_level',
 'amc_name',
 'rating',
 'category',
 'sub_category',
 'returns_1yr',
 'returns_3yr',
 'returns_5yr']

In [64]:
indianMF_df.select("expense_ratio").show()

+-------------+
|expense_ratio|
+-------------+
|         0.27|
|         0.36|
|         0.53|
|         0.76|
|         0.61|
|         1.17|
|         0.37|
|         1.29|
|         0.31|
|         0.69|
|         0.88|
|         1.73|
|         0.64|
|         1.14|
|         1.01|
|         1.21|
|         0.86|
|         0.23|
|         1.06|
|         0.22|
+-------------+
only showing top 20 rows

In [65]:
indianMF_df.select("expense_ratio")

DataFrame[expense_ratio: double]

In [66]:
indianMF_df.select(["expense_ratio","fund_manager"]).show()

+-------------+------------------+
|expense_ratio|      fund_manager|
+-------------+------------------+
|         0.27|    Kaustubh Gupta|
|         0.36|  Lovelish Solanki|
|         0.53|Vinod Narayan Bhat|
|         0.76|       Atul Penkar|
|         0.61|      Mohit Sharma|
|         1.17|       Dhaval Gala|
|         0.37|    Kaustubh Gupta|
|         1.29|Vinod Narayan Bhat|
|         0.31|    Kaustubh Gupta|
|         0.69|  Sunaina da Cunha|
|         0.88|      Kunal Sangoi|
|         1.73|       Dhaval Gala|
|         0.64|      Mohit Sharma|
|         1.14|       Atul Penkar|
|         1.01|      Mahesh Patil|
|         1.21|       Dhaval Shah|
|         0.86|         Anil Shah|
|         0.23|    Kaustubh Gupta|
|         1.06|      Mahesh Patil|
|         0.22|Vinod Narayan Bhat|
+-------------+------------------+
only showing top 20 rows

In [67]:
indianMF_df.select(["expense_ratio","fund_manager"])

DataFrame[expense_ratio: double, fund_manager: string]